body{
    
    background: #1fa01363;
}
#a{
    position: absolute;
    width: 135px;
    height: 37px;
    left: 258px;
    top: 65px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
#b{
    position: absolute;
    width: 150px;
    height: 37px;
    left: 258px;
    top: 107px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;

}
#c{
    position: absolute;
    width: 235px;
    height: 37px;
    left: 258px;
    top: 153px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 40px;
    line-height: 47px;
    letter-spacing: 0.1em;
    color: #FFFFFF;
}
#rect1{
    position: absolute;
    width: 800px;
    height: 158px;
    left: 240px;
    top: 62px;

    border: 2px solid #FFFFFF;
    border-radius:13px ;
}
#sq1{
    position: absolute;
    width: 139px;
    height: 128px;
    left: 713px;
    top: 77px;
    background: #FFFFFF;
    background: radius 9px;
}
#text1{
    position: absolute;
    width: 103px;
    height: 20px;
    left: 732px;
    top: 84px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
}
#text2{
    position: absolute;
    width: 61px;
    height: 16px;
    left: 748px;
    top: 106px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
}
#sq2{
    position: absolute;
    width: 139px;
    height: 128px;
    left: 881px;
    top: 77px;
    background: #FFFFFF;
    background: radius 9px;
}
#text3{
    position: absolute;
    width: 50px;
    height: 16px;
    left: 926px;
    top: 84px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
}
#text4{
    position: absolute;
    width: 61px;
    height: 16px;
    left: 920px;
    top: 106px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: 0.1em;
    color: #656565;
}
#cpu-score{
    position: absolute;
    width: 79px;
    height: 63px;
    left: 742px;
    top: 145px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;
    text-align: center;
    color: #252525;
}
#your-score{
    position: absolute;
    width: 79px;
    height: 63px;
    left: 910px;
    top: 145px;

    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 68px;
    line-height: 80px;
    text-align: center;
    color: #252525;
}
#rock{
    position: absolute;
    width: 80px;
    height: 58.51px;
    left: 510px;
    top: 359px;
    border-radius: 50%;
    
  
   
}

#scissors{
    position: absolute;
    width: 37px;
    height: 53.5px;
    left: 765px;
    top: 363px;
    
    border-radius: 50%;
}
#paper{
    position: absolute;
    width: 72px;
    height: 72px;
    left: 629px;
    top: 559px;
    border-radius: 50%;

}


#fistb{

    position: absolute;
    width: 110px;
    height: 110px;
    left: 477px;
    top: 329px;
    border: 16px solid #0074B6;
    border-radius: 50%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));

}
#fingerb{
    
    position: absolute;
    width: 110px;
    height: 110px;
    left: 713px;
    top: 329px;
    border: 16px solid #BD00FF;
    border-radius: 50%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));

}

#handb{

    position: absolute;
    width: 110px;
    height: 110px;
    left: 595px;
    top: 533px;
    border: 16px solid #FFA943;
    border-radius: 50%;
    filter: drop-shadow(-1px 1px 11px rgba(0, 0, 0, 0.35));
}
#line1{
    position: absolute;
    width: 80px;
    height: 0px;
    left: 615px;
    top: 393px;
    border: 9px solid rgba(0, 0, 0, 0.64);
}
#line2{
    position: absolute;
    width: 87px;
    height: 0px;
    left: 690px;
    top: 505px;
    border: 9px solid rgba(0, 0, 0, 0.64);
    transform: rotate(120deg);
}
#line3{
    position: absolute;
    width: 84px;
    height: 0px;
    left: 547px;
    top: 499px;
    border: 9px solid rgba(0, 0, 0, 0.64);
    transform: rotate(60.58deg);
}


#result{
    position: absolute;
    width: 250px;
    height: 58.51px;
    left: 590px;
    top: 210px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 800;
    font-size: 39px;
    line-height: 46px;
    color: #FFFFFF;
  
}
#rect2{
    box-sizing: border-box;
    position: absolute;
    width: 119px;
    height: 40px;
    left: 1236px;
    top: 675px;
    border: 2px solid #FFFFFF;
    border-radius: 10px;
}

#popup{
    position: absolute;
    width: 72px;
    height: 20px;
    top: 700px;
    left: 1267px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-weight: 600;
    font-size: 21px;
    line-height: 25px;
    letter-spacing: 0.1em;
}